extends layout

block content
  div(class="container-fluid" id="about")
    h1(class="gameHeader") About
    p.
      The game of "Rock Paper Scissors" is a simple game.  Each choice can beat one 
      other choice, and lose to one other choice.  Based on this, a completely random choice will, over time,
      win 50% of the time and lose 50% of the time - against any opponent.  Simple coin flip, right?  Wrong.  
    p.
      The difference is that the game is played by humans.  Humans are instictively wired to seek patterns in 
      the world around them.  This is what allows babies to learn a language on their own, through simple exposure.  
      This is what allows humans to create and enjoy music - finding patterns in the sequence of different tones.  
      Math, art, language, physics, etc - all possible because of our ability to recognize patterns in the world 
      around us.
    p.
      However this is not something we can choose to turn off.  We look for patterns in everything around us,
      whether they actually exist or not.  Conspiracy theories, ghosts, UFO's, even a lucky jersey or a lucky pair
      of socks are examples of people creating a false pattern, or more specifically, false causality.  If your
      sports team wins consistently when you wear a certain pair of socks, you may start to believe that those 
      socks are the cause of your team's winning streak.  Is this accurate?  Of course not, but that doesn't stop people from
      finding and using that pattern in their lives.  
    p.
      Because of this fact, that humans will seek patterns in their choices, an algorithm can be developed to 
      anticipate a user's choices.  This website requires each user to login, so that their past choices can be recorded.
      The algorithm then looks at the user's past choices, compared to the most recent choices, and is able to 
      anticipate the next move with a greater than 1 in 3 accuracy.  While it may be painful for some to admit,
      no human is able to make completely random choices.
    if (user)
      a(href="/game")
        h4(class="gameHeader") Click here to play the game!
    if (!user)
      h3(class="gameHeader") Please login or register a new account to play.
