extends layout

block content
  h1= title
  p Welcome to #{title}, please enter your username and password below:

  form(action="/" method="post")
    p
      label(for="username") Username:
      input(type="text" id="username" name="username")
    p
      label(for="password") Password:
      input(type="password" name="password")
    p
      input(type="submit")

  a(href='/') Back to login