doctype html
html(lang="en")
  head
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    meta(charset="utf-8")
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title= title
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css' rel='stylesheet' media='screen')
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(href='https://fonts.googleapis.com/css?family=Ubuntu:700,400' rel='stylesheet' type='text/css')
    
  body
    nav(class="navbar navbar-inverse navbar-fixed-top")
      
      div(class="container")
        
        div(class="navbar-header")
          
          button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
            span(class="sr-only") Toggle navigation
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")
          a(class="navbar-brand" href="/about" id="navbarBrand") 
            b Rock 
            | Paper 
            b Scissors
          
        div(id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;")
          if (!user)
            form(class="navbar-form navbar-right" id="userForm" action="" method="post")
              div(class="form-group")
                input(type="text" placeholder="Username" class="form-control" name="username")
              div(class="form-group")
                input(type="password" placeholder="Password" class="form-control" name="password")
              button(type="submit" class="btn btn-success" onclick="login()") Login
              button(type="button" class="btn btn-primary" onclick="register()") Register
          if (user)
            p(class="navbar-brand" id="welcome") Welcome, #{user.username}!
            form(class="navbar-form navbar-right" id="logout" action="/logout" method="get")   
              div(class="form-group")
                button(type="submit" class="btn btn-primary") Logout
    block content

  script(src='https://code.jquery.com/jquery.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
  script(type="text/javascript" src="/javascripts/login.js")